html
    head
        title="index"
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-1.12.4.min.js", integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=", crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    body(style='background-color:#DDD')
        .container(style='background-color:#FFF')
            .row
                .col-md-6
                    h1 Add Item
                    form(method="POST", action="/addItem")
                        div(style="margin-bottom:50px;")
                            div.form-group
                                label(for='itemno') Item No:
                                input#itemno.form-control(type='text', placeholder='Item No', name='itemno')
                            div.form-group
                                label(for='itemname') Item Name:
                                input#itemname.form-control(type='text', placeholder='Item Name', name='itemname')
                            div.form-group
                                label(for='itemqty') Quantity:
                                input#itemqty.form-control(type='number', placeholder='Item Quantity', name='qty')
                            div.form-group
                                button.btn.btn-primary(type='submit') Add Item
                    h1(style="margin-top:10px") Update Item
                    form(method="POST", action="/updateItem")
                        input#u_itemid(type='hidden',value='',name='id')
                        div(style="margin-bottom:50px;")
                            div.form-group
                                label(for='u_itemno') Item No:
                                input#u_itemno.form-control(type='text', placeholder='Item No', name='itemno')
                            div.form-group
                                label(for='u_itemname') Item Name:
                                input#u_itemname.form-control(type='text', placeholder='Item Name', name='itemname')
                            div.form-group
                                label(for='u_itemqty') Quantity:
                                input#u_itemqty.form-control(type='number', placeholder='Item Quantity', name='qty')
                            div.form-group
                                button.btn.btn-primary(type='submit') Update Item
                .col-md-6
                    h1 Items List
                    if items.length > 0
                        table.table-hover(style='width:100%')
                            thead
                                tr
                                    th Item No
                                    th Item Name
                                    th Qty
                                    th Action
                            tbody
                                for item in items
                                    tr
                                        td=item.itemno
                                        td=item.itemname
                                        td=item.qty
                                        td(style='padding:10px 0px')
                                            button.btn.btn-warning(type='button', onclick='updateItem(#{JSON.stringify(item)})') Update
                                            button.btn.btn-danger(type='button', onclick='deleteItem(#{item.id})') Delete
                    else
                        h4 No Items Found
        script.
            function updateItem(item){
                console.log(item);
                document.getElementById('u_itemid').value = item.id;
                document.getElementById('u_itemno').value = item.itemno;
                document.getElementById('u_itemname').value = item.itemname;
                document.getElementById('u_itemqty').value = item.qty;
            };
            function deleteItem(id){
                var con = confirm("Do you want to delete the record ?");
                if(con){
                    window.location.href='/delete/'+id;
                    return true;
                } else {
                    return false;
                }
            };